p {
    color:rgb(14, 201, 46);
}
body {
    background-color:black;
}

h1 {
    color:rgb(14, 201, 46);
}
h2 {
    color:rgb(14, 201, 46);
}
table, tr, td {
    border: 1px solid black;
    background-color:rgb(44, 42, 42);
}